---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Credibilidad from "../components/Credibilidad.astro";
import Producto from "../components/Producto.astro";
import Accesorios from "../components/Accesorios.astro";
import ComoFunciona from "../components/ComoFunciona.astro";
import Comparativa from "../components/Comparativa.astro";
import PorQueNosotros from "../components/PorQueNosotros.astro";
import Faq from "../components/Faq.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
import BotonWhatsapp from "../components/BotonWhatsapp.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Credibilidad />
    <Producto />
    <Accesorios />
    <ComoFunciona />
    <Comparativa />
    <PorQueNosotros />
    <Faq />
    <Contacto />
  </main>
  <Footer />
  <BotonWhatsapp />
</Layout>
