---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Credibilidad from "../components/Credibilidad.astro";
import Producto from "../components/Producto.astro";
import ComoFunciona from "../components/ComoFunciona.astro";
import BotonWhatsapp from "../components/BotonWhatsapp.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Credibilidad />
    <Producto />
    <ComoFunciona />
    <!-- Secciones: tareas 9 y 10 -->
  </main>
  <BotonWhatsapp />
</Layout>
