---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import BotonWhatsapp from "../components/BotonWhatsapp.astro";
---

<Layout>
  <Header />
  <main>
    <!-- Secciones: se agregan en las tareas 7 a 10 -->
  </main>
  <BotonWhatsapp />
</Layout>
