---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Credibilidad from "../components/Credibilidad.astro";
import BotonWhatsapp from "../components/BotonWhatsapp.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Credibilidad />
    <!-- Secciones: tareas 8 a 10 -->
  </main>
  <BotonWhatsapp />
</Layout>
